page {
  min-height: 100vh;
  background: #f5f7fb;
}

.page {
  padding: 24rpx;
}

.card {
  background: #fff;
  border-radius: 20rpx;
  padding: 28rpx;
}

.title {
  font-size: 34rpx;
  font-weight: 600;
  color: #111827;
}

.desc {
  margin-top: 16rpx;
  display: block;
  color: #6b7280;
  font-size: 26rpx;
}
